
* {
    box-sizing: border-box;
  }
  body{
    background-color:#ff7300;
    overscroll-behavior-y:contain ;
  }
  section#home{
    height: 100vh;
  }
  /*navbar*/
  #navbar {
    overflow:hidden;
    background-color: #fa7101;
    width:100%;
    z-index: 2000;
    position: fixed;
    text-align: center;
  }
  
  #navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ffffff;
    color: black;
  }
  
  #navbar a.active {
    color: rgb(0, 0, 0);
  }
  /*navbar end*/
/*horizontal*/
.sefa{
}
div.scroll-container2 {
    overflow: auto;
    white-space: nowrap;
    padding: 1vh;
    position: relative;
    background-color:#ffffff00;
    margin: 0 1vh 0 1vh;
  }
  
  div.scroll-container2 img {
    padding: 1vh;
    border-radius: 15px;
    width: 20vh;
    height: 15vh;
    position: relative;
  }

div.scroll-container2 .content {
    position: absolute;
    margin:1vh;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width:18vh;
    height: 13vh;
    border-radius:12px;
    display: inline;
    z-index: 2;
    text-align: center;
    font-size: 12px;
    box-shadow: 2px 5px 10px rgb(0, 0, 0);

  }
  div.scroll-container2 h1{
    text-transform: capitalize;
    font-size: 2vh;
    margin-top: 29%;
  }
  /*horizontal end*/
  .mainhead{
    height: fit-content;
    background-color: black;
    color: #f1f1f1;
    margin: 20px 1vh 10px 1vh;
    text-align: center;
    padding: 1px;
    text-transform: uppercase;
    box-shadow: 2px 5px 10px rgb(0, 0, 0);
  }
  
  .fiyat{
    width: 20%;
    text-align: right;
    float: right;
  }
  .fiyat h1{
    text-transform: uppercase;
  }
  

/*icerikler*/
div.gallery {
  background-color: #ffffff;
  box-shadow: 2px 5px 10px rgb(0, 0, 0);
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 100%;
  padding: 2%;
  border-radius: 1vh;
}

div.desc {
  padding: 15px;
  text-align: left;
  font-size: 1rem;
  text-transform: capitalize;
  display: inline-block;
}
div.desc2 {
  padding: 15px;
  float: right;
  font-size: 1rem;
  text-transform: uppercase;
  display: inline;
}
.responsive {
  padding: 6px 6px;
  float: left;
  width: 19.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}
/*
@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}*/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*içerikler son*/


/* Style the tab content */
.tabcontent {
  display: none;
  border-top: none;
}